html {
	color-scheme: dark !important;
}

body {
	font-family: 'JetBrains Mono', monospace;
	margin: 0;
	color: white;

	background-image: linear-gradient(109.6deg, rgba(60, 19, 19, 1), rgba(37, 7, 72, 1)); 
}

.content {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	height: 100vh;
	flex-wrap: wrap;
	padding-left: 10px;
	padding-right: 10px;
}

.column {
	padding-top: 10px;
	max-width: 20%;
	max-height: 100vh;
	overflow-y: scroll;
}

@media (max-width: 1300px) {
	.column:last-child {
		padding-bottom: 45px
	}
}

h1 {
	font-size: 23px;
	opacity: 80%;
}

.item {
	padding-right: 20px;
	margin-bottom: 25px;
	display: flex;
	flex-direction: column;
	gap: 7px;
}


.item a {
	font-size: 14px;
	color: #5CB8E4;
	text-decoration: none;
	width: fit-content;
}

.item a:visited {
	color: #538296;
}

.title:hover {
	text-decoration: underline;
}

.desc {
	font-size: 12px;
	color: #F2F2F2;
	opacity: 70%;
}

.info {
	font-size: 11px;
	color: #BBB5AC;
	display: flex;
	justify-content: space-between;
}

.icon {
	height: 12px;
	width: 12px;
}

.icon svg {
	display: block;
	height: 12px;
	width: 12px;
}

.info > div {
	display: flex;
	height: fit-content;
	align-items: center;
	gap: 6px;
}

.lang .icon {
	border-radius: 50%;
}

.column-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.goto-link {
	margin-bottom: -5px;
}

.goto-icon {
	height: 20px;
	width: 20px;
	opacity: 80%;
}

.err {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
