 /* https://www.magicpattern.design/tools/grid-background-pattern-generator */

html {
	color-scheme: dark !important;
}

body {
	font-family: 'JetBrains Mono', monospace;
	margin: 0;
	color: white;

	background-image: radial-gradient(circle 80vw at 50%, #070335 0%, #0d1116 97.5%);
}

.content {
	display: flex;
	height: 100vh;
	padding-left: 5px;
	padding-right: 5px;
}

.items {
	padding-top: 10px;
}

.column {
	max-height: 100vh;
	overflow-y: scroll;
	min-width: 360px;
	margin-right: 10px;
	max-width: 10%;
}
.column::-webkit-scrollbar {
	display: none !important;
}

@media (max-width: 1300px) {
	.column:last-child {
		padding-bottom: 45px
	}
}

.item {
	display: flex;
	flex-direction: column;
	padding: 5px;
	border: 2px rgb(225 225 225 / 0%) solid;
	margin: 2px;
}

.item:hover {
	border: 2px rgb(225 225 225 / 80%) solid;
}


a, .title {
	text-decoration: none !important;
}

.title {
	color: #b0b0b0;
	font-size: 14px;
}

a:visited .title {
	color: #383a6d;
}

.title:hover {
	text-decoration: underline;
}

.desc {
	font-size: 13px;
	color: #c1c1c1;
	opacity: 70%;
}

.info {
	font-size: 11px;
	color: #c1c1c1;
	display: flex;
	justify-content: space-between;
	opacity: 70%;
}

.icon {
	height: 12px;
	width: 12px;
}

.icon svg {
	display: block;
	height: 12px;
	width: 12px;
}

.info > div {
	display: flex;
	height: fit-content;
	align-items: center;
	gap: 6px;
}

.lang .icon {
	border-radius: 50%;
}

.column-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.goto-link {
	margin-bottom: -5px;
}

.goto-icon {
	height: 20px;
	width: 20px;
	opacity: 80%;
}

.err {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
