 /* https://www.magicpattern.design/tools/grid-background-pattern-generator */

html {
	color-scheme: dark !important;
}

body {
	font-family: 'JetBrains Mono', monospace;
	margin: 0;
	color: white;

	background-color: #0b0315;
	opacity: 1;
	background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #0b0315 19px), repeating-linear-gradient(#2c174855, #2c1748);
}

.content {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	height: 100vh;
	flex-wrap: wrap;
	padding-left: 5px;
	padding-right: 5px;
}

.items {
	padding-top: 10px;
}

.column {
	max-width: 24%;
	max-height: 100vh;
	overflow-y: scroll;
	box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6);
}
.column::-webkit-scrollbar {
	display: none !important;
}

@media (max-width: 1300px) {
	.column:last-child {
		padding-bottom: 45px
	}
}

.item {
	display: flex;
	flex-direction: column;
	gap: 7px;
	/* padding: 10px; */
	border: 10px rgb(44 23 72 / 0%) ridge;
	margin-bottom: 10px;
}

.item:hover {
	border: 10px rgb(44 23 72 / 100%) ridge;
}


a, .title {
	text-decoration: none !important;
}

.title {
	color: #c1c1c1;
	font-size: 15px;
}

a:visited .title {
	color: #412E5A;
}

.title:hover {
	text-decoration: underline;
}

.desc {
	font-size: 13px;
	color: #c1c1c1;
	opacity: 70%;
}

.info {
	font-size: 11px;
	color: #c1c1c1;
	display: flex;
	justify-content: space-between;
	opacity: 70%;
}

.icon {
	height: 12px;
	width: 12px;
}

.icon svg {
	display: block;
	height: 12px;
	width: 12px;
}

.info > div {
	display: flex;
	height: fit-content;
	align-items: center;
	gap: 6px;
}

.lang .icon {
	border-radius: 50%;
}

.column-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.goto-link {
	margin-bottom: -5px;
}

.goto-icon {
	height: 20px;
	width: 20px;
	opacity: 80%;
}

.err {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
